<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149121065823-7qab25ojpp3h5ds55nsfmd3fms8nbjt4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149121065823-7qab25ojpp3h5ds55nsfmd3fms8nbjt4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>149121065823-peu48l9cud3ejhur52bkab3d89p010v3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5l4fx4BLcTfR3PsardXvdTBDjPgdS89c</string>
	<key>GCM_SENDER_ID</key>
	<string>149121065823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demo</string>
	<key>PROJECT_ID</key>
	<string>sgp-l-47bde</string>
	<key>STORAGE_BUCKET</key>
	<string>sgp-l-47bde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149121065823:ios:1afb4324349c161f6c4cea</string>
</dict>
</plist>